.admonition {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 2rem 0 2rem 4.5rem;
    background: #eee;

    p {
        margin: 0.5rem 0;
    }

    .admonition-title {
        float: left;
        margin: 0 0 0 -5rem;
        font-size: 0;

        &:before {
            font: normal normal normal 30px/1 FontAwesome;
        }
    }
}

.tip {
    &.admonition {
        background: rgba(132, 216, 232, 0.27);
    }

    .admonition-title {
        color: #168DD8;
        &:before {
            content: "\f0eb";
        }
    }
}

.note {
    &.admonition {
        background: rgba(128, 198, 232, 0.16);
    }

    .admonition-title {
        color: #3379f9;
        &:before {
            content: "\f129";
        }
    }
}

.caution {
    &.admonition {
        background: rgba(232, 188, 116, 0.16);
    }

    .admonition-title {
        color: #F9A84F;
        &:before {
            content: "\f071";
        }
    }
}

.warning {
    &.admonition {
        background: rgba(232, 109, 107, 0.16);
    }

    .admonition-title {
        color: #f93c41;
        &:before {
            content: "\f06a";
        }
    }
}

.admonition-pro {
    &.admonition {
        background: rgba(0, 219, 7, 0.16);
    }

    .admonition-title {
        color: #22c41f;
        &:before {
            content: "\f00c";
        }
    }
}

.admonition-con {
    &.admonition {
        background: rgba(255, 0, 8, 0.10);
    }

    .admonition-title {
        color: #d13b38;
        &:before {
            content: "\f00d";
        }
    }
}
